name: Build Action

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Set up environment
      run: echo "Setting up environment for build"

    - name: Build Application
      run: echo "Building application for ${{ matrix.os }}"
